<h1><%= @surgery.title %></h1>

<h3>Taking place on: <%= @surgery.day_of_week %></h3>
<h3>In operating room number <%= @surgery.operating_room_number %></h3>

<section class="doctors">
<h3>Doctors performing this surgery</h3>
<ul>
  <% @surgery.doctors.each do |doctor| %>
  <div id="doctor-<%= doctor.id %>">
    <li><%= doctor.name %></li>
    <p><%= doctor.years_experience %> years of experience</p>
  </div>
  <% end %>
</ul>
</section>

<div class="most-and-least">
  <h4>Most experienced doctor: <%= @surgery.most_experienced_doctor.name %> (<%= @surgery.most_experienced_doctor.years_experience %>)</h4>
  <h4>Least experienced doctor: <%= @surgery.least_experienced_doctor.name %> (<%= @surgery.least_experienced_doctor.years_experience %>)</h4>
</div><hr>

<section>
<h3>Add A Doctor To This Surgery</h3>
<p>Please use the #ID of the doctor you wish to add to this surgery.</p>
<%= form_with method: :patch, local: :true do |f| %>
  <%= f.label :add_doctor %>
  <%= f.number_field :add_doctor %>
  <%= f.button "SUBMIT" %>
<% end %>
</section>
